err() {
  echo "[$(date +'%Y-%m-%dT%H:%M:%S%z')]: $@" >&2
  exit 1
}

log() {
  echo "[$(date +'%Y-%m-%dT%H:%M:%S%z')]: $@" >&1
  echo "[$(date +'%Y-%m-%dT%H:%M:%S%z')]: $@" >> log.txt
}

check_err() {
  $1 2>&1  || err $2
}

MYSQL_HOST=127.0.0.1
MYSQL_USERNAME=root
MYSQL_PASSWORD=p0o9i8u7

check_err "which mysql" "Add mysql client to PATH first"

MYSQL_CMD=`which mysql`

PYTHON_CMD=`which python`

HDB_SQL_FILE=hdb.sql

HDB_ADMIN_URL=http://127.0.0.1
